@model IEnumerable<GameLib.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Список відгуків</h1>

<p>
    <a asp-action="Create">Додати відгук</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Оцінка
            </th>
            <th>
                Підпис
            </th>
            <th>
                Дата
            </th>
            <th>
                Гра
            </th>
            <th>
                Користувач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Fullname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReviewId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.ReviewId">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReviewId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
