@model IEnumerable<GameLib.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Користувачі</h1>

<p>
    <a asp-action="Create">Додати нового користувача</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Пошта
            </th>
            <th>
                Пароль
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
